@charset "utf-8";

body {
    width: 40%;
    position: relative;
    margin: 0 auto;
}

.mudCor {
    color: black;
		/* a cor original do texto*/
}

.mudCor:hover {
    color: #3400FF;
		/* a cor que fica quando passa o mouse em cima */
}

.formulario {
    width: 80%;
    position: relative;
    margin: 0 auto;
}

label {
    font-weight: bold
}

input {
    background-color: rgb(222, 221, 221);
}

input#name {
    margin-left: 3%;
    width: 70%;
}

input#email {
    margin-left: 3%;
    width: 70%;
}

input#assunto {
    margin-left: 3%;
    width: 70%;
}

input#mensagem {
    margin-left: 3%;
    width: 70%;
    height: 70px;
}