@charset "utf-8";

* {
    margin: 0%;
}

.lista {
    padding-top: 1%;
}

li {
    text-transform: uppercase;
    display: inline;
    margin-left: 10%;
    font-weight: bold;
    font-size: 18px;
}

/* tratando da parte INSTITUCIONAL doa empresa */

.institucional img {
    display: flex;
    width: 45px;
}

.institucional {
    margin-left: 16%;
}

/* Tratando da parte REDES SOCIAIS da empresa */

.redesSociais img {
    display: flex;
    width: 20px;
    margin-left: 34%;
    margin-top: 0.5%;
}

.redesSociais p {
    margin-left: 36%;
    margin-bottom: 0.5%;
}

div.redesSociais {
    margin-top: -8%;
}

.nomesRedes {
    margin-top: -6.9%;
}

/* Tratando da parte de LOCALIZAÇÃO da empresa */

.localizacao img {
    width: 60px;
    margin-left: 56%;
}

#localizacao1 {
    margin-left: 53.5%;
}

#localizacao2 {
    margin-left: 57%;
}

.localizacao {
    margin-top: -7.5%;
}

/* Tratando da parte de ATENDIMENTO da empresa */

.atendimento img {
    width: 65px;
    margin-left: 76%;
}

.atendimento p {
    margin-left: 75.5%;
}

.atendimento {
    margin-top: -7%;
}

/* Configurações gerais */

footer {
    background-color: rgba(92, 206, 238, 0.8);
    height: 150px;
    max-width: 1400px;
    padding: 0 4%;
}

p:hover {
    color: 		#0000FF;
}

