/* Login */

#login-usuario form {
    display: flex;
    flex-direction: column;
    margin-left: 450px;
}

.campos {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.campos label {
    margin-right: 10px;
    padding-top: 9px;
}

#login-usuario input {
    width: 400px;
    height: 35px;
    padding-left: 5px;
    background-color: #FDE993;
    border: 0px;
}

input::placeholder {
    color: #985B26;
}

#login-usuario button {
    width: 130px;
    height: 40px;
    background-color: #C5833A;
    color: white;
    border: 0px;
    text-align: center;
    margin-left: 180px;
}
